@if (Request.IsAuthenticated)
{
    <p>
        Olá, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Usuario",
            routeValues: null, htmlAttributes: new { @class = "username", title = "Alterar senha"})!
        @Html.ActionLink("Sair", "LogOff", "Usuario")
    </p>
}
else
{
    <ul>
        <li>
            @Html.ActionLink("Cadastrar", "Register", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink("Entrar", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}

